data/processed/product_documents.parquet filter=lfs diff=lfs merge=lfs -text
data/indexes/bm25/bm25.pkl filter=lfs diff=lfs merge=lfs -text
data/indexes/faiss/faiss_index.bin filter=lfs diff=lfs merge=lfs -text
